.gainers-carousel-container {
  max-width: 90vw;
  margin: 20px auto;
  padding: 20px;

  border-radius: 12px;
  background-color: none;
}

.gainers-carousel-title {
  color: burlywood;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.gainer-card {
  background-color: #222531;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gainer-card:hover {
  background-color: #2f3642;
}

.gainer-name {
  font-size: 20px;
  color: #ecf0f1;
  margin-bottom: 15px;
}

.gainer-price {
  font-size: 24px;
  color: #2ecc71;
  margin-bottom: 15px;
}

.gainer-change {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ecf0f1;
}

.gainer-card.gainer-up .gainer-change {
  color: #2ecc71;
}

.gainer-card.gainer-down .gainer-change {
  color: #e74c3c;
}

@media (max-width: 768px) {
  .gainers-carousel-container {
    max-width: 80vw;
  }
}

@media (max-width: 480px) {
  .gainers-carousel-container {
    max-width: 90vw;
  }
}
