.coinContainer {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.coinContainer .content {
  text-align: center;
}

.addBtn {
  width: auto;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #4ecf93;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addBtn:hover {
  background-color: #3a8f64;
}

.coinContainer h1 {
  color: #2c3e50;
  font-size: 2em;
}

.innerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.rank-btn {
  background: #e74c3c;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.rank-btn:hover {
  background: #c0392b;
}

.coinHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.coinHeading img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3498db;
}

.coinHeading p {
  color: #555;
  font-size: 1.2em;
}

.coinPrice h1 {
  color: #3498db;
  font-size: 2.5em;
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
  text-align: center;
  border: 1px solid #ecf0f1;
}

th {
  background: #34495e;
  color: #ffffff;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.row {
  margin-bottom: 20px;
}

.about {
  margin-top: 30px;
  color: #2c3e50;
  line-height: 1.6;
  font-size: 1.2em;
  padding: 20px;
}

.chartHolder {
  text-align: center;
  max-width: 95vw;
  margin-left: 1%;
}

@media (max-width: 768px) {
  .coinContainer {
    padding: 15px;
  }

  .innerContent {
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    font-size: 14px;
  }

  .stats {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .coinContainer {
    padding: 15px;
  }

  .innerContent {
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
  }

  th,
  td {
    padding: 10px;
  }

  .stats {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 382px) {
  th,
  td {
    padding: 4px;
  }
}

/* Hides bottom scroll bar because it gives a poor UX */
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
