header {
  background-color: #0d1421;

  color: #ecf1ed;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: burlywood;
  letter-spacing: 2px;

  cursor: pointer;
}

.slogan {
  font-size: 1.2rem;
  color: burlywood;
  line-height: 1.5;
  font-style: italic;
  opacity: 0.8;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.searchForm {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

header input {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;

  color: #34495e;
}

header button {
  background-color: #2980b9;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 10px;
}

nav h5 {
  margin: 0;
  color: #ecf0f1;
  cursor: pointer;
}

nav h5:hover {
  text-decoration: underline;
}
